  html {
    background-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 14px dotted #EFEFEF;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }
  .centeredDot{
      position: absolute;
      top: 49.5%; bottom: 0;
      left: 0; right: 0;
      margin: 0 auto;
      padding: 0;
      border: 1px solid #dedede;
      box-sizing: border-box;
      height: 12px;
      width: 12px;
      background-color: #EFEFEF;
      border-radius: 12px;
  }
  .hand {
    width: 50%;
    height: 8px;
    border-radius: 3px;
    background: #EFEFEF;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .05s;
    transition-timing-function: cubic-bezier(.1, 2.7, 0.6, 1);
  }